* {
    font-size: 16px;
    min-height: 0;
}

#window {
    font-weight: bold;
    font-family: Roboto; 
}

window#waybar {
    background: transparent;
    }

window box > box{
    margin: 20px 3px 0px 3px;
    background-color: #161821;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 3px;
    padding: 4px 8px 4px 8px ;
	color: grey;
}

#workspaces button {
    padding: 0 10px;
	border-radius: 4px;
	color: grey;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  color: purple;
  /* border-bottom: 3px solid #ffffff; */
}

#workspaces button.focused {
	/* background: grey;
    border: 1px solid white; */
	color: white;
}


#clock,
#disk
#tray
#battery,
#cpu,
#memory,
#temperature,
#disk,
#backlight,
#network,
#pulseaudio,
#mode,
#idle_inhibitor {
  padding: 0 10px;
}

#battery {}
#cpu {}
#memory {}
#network {}
#idle_inhibitor.activated { color: #ebcb8b; }
#network.disconnected { color: #bf616a; }
#pulseaudio {}
#pulseaudio.muted {}
#tray {}
#pulseaudio.muted { color: #bf616a; }
#temperature { color: #88c0d0; }
#temperature.critical { color: #bf616a; }

#clock {
    font-weight: bold;
}

#battery icon {
    color: red;
}

#battery.charging {
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}
