* {
    border: none;
    border-radius: 0;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    /*border-bottom: 3px solid rgba(100, 114, 125, 0.5);*/
    color: white;
}

window#waybar.hidden { opacity: 0.2; }

#window {
    font-weight: bold;
    font-family: "Ubuntu";
}
/*
#workspaces {
    padding: 0 5px;
}
*/

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: grey;
    border-top: 2px solid transparent;
}

#workspaces button:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: inherit;
  border-bottom: 3px solid #ffffff;
}

#workspaces button.focused {
    color: white;
    border-top: 2px solid white;
}

#clock {
    font-weight: bold;
}

#battery icon {
    color: red;
}

#battery.charging {
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#clock,
#disk
#tray
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#mode,
#idle_inhibitor {
  padding: 0 10px;
  margin: 0 4px;
  color: #ffffff;
}

#battery {}
#cpu {}
#memory {}
#network {}
#idle_inhibitor.activated { color: #ebcb8b; }
#network.disconnected { color: #bf616a; }
#pulseaudio {}
#pulseaudio.muted {}
#tray {}
#pulseaudio.muted { color: #bf616a; }
#temperature { color: #88c0d0; }
#temperature.critical { color: #bf616a; }
